<h1>Listing drafts</h1>

<table>
  <tr>
    <th>Body</th>
    <th>Published</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drafts.each do |draft| %>
  <tr>
    <td><%= draft.body %></td>
    <td><%= draft.published %></td>
    <td><%= link_to 'Show', draft %></td>
    <td><%= link_to 'Edit', edit_draft_path(draft) %></td>
    <td><%= link_to 'Destroy', draft, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Draft', new_draft_path %>
