<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @draft.body %>
</p>

<p>
  <b>Published:</b>
  <%= @draft.published %>
</p>


<%= link_to 'Edit', edit_draft_path(@draft) %> |
<%= link_to 'Back', drafts_path %>
